@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Momo Signature", cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/4k-minimal.jpg) no-repeat center center/cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.todo-app {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
}

.todo-app h1 {
    font-size: 2rem;
    font-family: "Momo Signature", cursive;
}

.stat-container{
    padding: 15px 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 100px rgba(0, 0, 0, 0.5); */
    border: 3px solid rgba(255, 255, 255, 0.18);
    /* backdrop-filter: blur(10px); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.details{
    width: 100%;
}

.details{
    color: #fff;
}

.progressBar{
    width: 100%;
    height: 7px;
    background-color: rgba(178, 102, 22, 0.3);
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}

#progress{
    width: 50%;
    height: 100%;
    background: orange;
    border-radius: 20px;
    transition: width 0.3s ease;
}

#number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80ox;
    background: orange;
    border: 2px solid rgba(255, 194, 209, 0.3);
    font-weight: bold;
    border-radius: 50%;
}


.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background-color: rgba(237, 147, 50, 0.3);
    color: white;
}

.input-area input::placeholder {
    color: #dfd5d5;
}

.input-area button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    background-color: rgba(207, 130, 23, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background-color: #f59221;
}

.todos-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

#task-list {
    width: 100%;
}

#task-list li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(178, 102, 22, 0.3);
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 30px;
    color: white;
    font-size: 1.2rem;
    position: relative;
    transition: box-shadow 0.2s ease;
}

#task-list li:hover {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkbox{
    appearance: none;
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.checkbox:checked{
    background-color: rgb(178, 77, 9);
    transform: scale(1.1);   
}

.checkbox:checked::before{
    content: '\2713';
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#task-list li span{
    flex: 1;
    margin-left: 10px;
    word-wrap: break-word;
}

.delete-btn, .edit-btn{
    margin: 10px;
    background: rgba(178, 102, 22, 0.3);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.edit-btn{
    background-color: orangered;
}

.delete-btn:hover, .edit-btn:hover{
    transform: scale(1.2);
}